.chats-page {
    display: flex;
    flex-direction: row;
}

.chat-list-container {
    display: flex;
    flex-direction: column;
    max-height: 69vh;
    margin: 0 20px;
}

.chat-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid lightblue;
    border-radius: 3px;
    margin: 5px 0;
    padding: 10px;
    background-color: purple;
    color: lightgreen;
}

.chat-list-item-title {
    font-size: 2rem;
}

.chat-list-item:hover {
    background-color: blueviolet;
    color: greenyellow;
}

.chat-list-item-name {
    font-weight: bolder;
}

.chat-list-item-detail {
    font-size: x-small;
    color: orange
}