.messages-card-container {
    display: flex;
    flex-direction: column;
    max-height: 69vh;
    margin: 0 20px;
}

.message-list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    border-radius: 3px;
    margin: 5px 0;
    padding: 10px;
    color: white;
}

.messages-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: 1px solid orange;
}

.chat-user {
    color: orange;
}

.chat-date {
    font-size: x-small;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}